<!doctype html>
<html>

<head>
    <title>Go Shopping!</title>
    <link href="/static/favicon.ico" type="image/x-icon" rel="icon" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBjmw96Ocv4MH1bScT2r0z6QQSbBJ0nS2c",
            authDomain: "shopping-list-234812.firebaseapp.com",
            databaseURL: "https://shopping-list-234812.firebaseio.com",
            projectId: "shopping-list-234812",
            storageBucket: "shopping-list-234812.appspot.com",
            messagingSenderId: "924167992589"
        };
        firebase.initializeApp(config);
    </script>

    <script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css" />

    <script src="/static/index.js"></script>
</head>

<body>
    <h1>Go Shopping!</h1>

    <img id="logo" src="/static/groceries.svg" width="100">

    <div id="firebaseui-auth-container"></div>

    <div id="sign-in"></div>
    <div>
        <span id="account-details"></span>
        <button id="sign-out" hidden=true>Sign Out</button>
    </div>

    {{with .Notice}}
    <div id="notice">{{.}}</div>
    {{end}}



    {{range $index, $shoppingList := .ShoppingLists}}
        <p>{{$shoppingList.Name}}, created at <span>{{$shoppingList.CreatedAt}}</span></p>
        <ul>
        {{range $ind, $item := $shoppingList.Items }}
            <li>{{if $item.Striked}}<strike>{{end}}{{$item.Name}}{{if $item.Striked}}</strike>{{end}}</li>
        {{end}}
            <li>
                <form id="post-form" action="/" method="post" hidden=true>
                    <div>Add item: <input name="item"></div>
                    <input type="hidden" name="token" id="token">
                    <button type="submit" name="add-item">Add item</button>
                </form>
            </li>
        </ul>
    {{end}}
</body>

</html>